body {
    background-color: rgb(33, 144, 255);
}

main {
    width: 95%;
    height: 54em;
    margin: 2% auto;
    background-color: whitesmoke;
    border-radius: 14px;
}

.header {
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.header > h1, .header > img {
    position: relative;
    left: -350px;
}

header > h1 {
    font-size: 1.2em;
}

header > img {
    width: 25px;
    margin: 0 10px;
}

.bt-list {
    display: flex;
    flex-direction: row;
    gap: 45px;
    font-size: 1.4em;
    align-items: center;
    margin-top: 10px;
    position: relative;
    right: -300px;
    
}

.bt-list > li {
    padding: 0 5px 0 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.426);
}

li > button {
    background-color: #f5f5f5;
    border: none;
    font-size: 20px;
}

li > button:hover {
    color: orangered;
    transition: 0.4s;
    transform: translateY(-2px);
}

.main-content {
    width: 96%;
    height: 88%;
    margin: 0 auto;
    background-color: rgba(63, 71, 64, 0.166);
    border-radius: 10px;
}